@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
      sans-serif;
    scroll-behavior: smooth;
    /* font-family: Roboto; */
  }
  .max-container {
    max-width: 2100px;
    margin-inline: auto;
  }
  .max-container2 {
    max-width: 1440px;
    margin-inline: auto;
  }
  .myscroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .myscroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
